@import "../../styles/mixins";

//MouseTargetingTrainerContainer

.container{
    @apply absolute mx-auto  top-4 left-4 bottom-4 right-4;
    @include b(5px,5);
}
.layout{
    @apply grid w-full;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75px 75px 75px 1fr;// <--trial n error
    grid-template-areas: "header       header"
                         "achievements achievements"
                         "moduleIntro  moduleIntro"
                         "description  details";
}
.header{
    grid-area: header;
    @apply flex justify-center items-center text-orange-500 text-3xl;
    @include b();
}
.achievements{
    grid-area: achievements;
    @apply flex justify-evenly items-center py-4 text-orange-500 text-lg;
    @include b();
    @at-root{
        .levelText{
            @apply text-orange-500 text-lg;
        }
        .levelTextCompleted{
            @apply text-orange-900 text-lg;
        }
    }
}
.moduleIntro{
    grid-area: moduleIntro;
    @apply flex justify-start items-center  py-0 text-2xl;
    @include b();
}
.moduleIntro{
    grid-area: moduleIntro;    
    @include b();
}
.description{
    grid-area: description;
    @apply relative bottom-0 m-4 p-4 text-2xl ;
    text-indent: 2em;
    @include b($s: solid);
}
.details{
    grid-area: details;
    @apply relative bottom-0 m-4 p-4 text-2xl ;
    @include b();
}